<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
     
    <div ibmGrid [condensed]=false style="margin-top: 150px; ">
    <div  *ngIf='loginFailure' style="color: red;"> 
        <svg ibmIconWarning size="16" style="fill: red;"></svg>{{errorMessage}}
        <br><br>
     </div>
     <div
          ibmRow
          [gutter]=true
          [leftGutter]=true
          [rightGutter]=true
          [condensed]=false style="margin-top:auto;">
          <ibm-label>
            <label style="font-weight: bolder; font-size: medium;">W3 Intranet Id</label>
            <input ibmText formControlName="userName" placeholder="Ex :Joe@us.ibm.com" style="width: 300px;">
        </ibm-label>
          </div>
          <br>
          <div
          ibmRow
          [gutter]=true
          [leftGutter]=true
          [rightGutter]=true
          [condensed]=false style="margin-top:auto;">
          <ibm-label>
            <label style="font-weight: bolder; font-size: medium;">Password</label>
            <input ibmText type="password" formControlName="password" placeholder="Password" style="width: 300px;">
        </ibm-label>
          </div>
          <br>
          <div
          ibmRow
          [gutter]=true
          [leftGutter]=true
          [rightGutter]=true
          [condensed]=false style="margin-top:10px;">
         
            <button   ibmButton="primary" size="normal" type="submit" [disabled]="!loginForm.valid" style="text-align: center;" >Sign In
                <!-- <svg ibmIconLogin size="32"></svg> -->
            </button>
          </div>
     </div>
</form>

<div style="margin-top: 200px;">
<ibm-loading *ngIf=isLoading [isActive]="isActive" size="sm"  [overlay]="overlay"></ibm-loading>
</div>

