<div ibmGrid class="page-header">
    <div ibmRow >
        <div ibmCol [columnNumbers]="{'lg': 16}">
            <p><span style="font-weight:bold;font-size: larger;color: #4178BE;">My comp requests</span></p>
            <br>
            <p><span style="font-size: small;">Create compensation request</span></p>
        </div>
    </div>
    <form [formGroup]="UpdateEmpForm" (ngSubmit)="onSubmit()">
    <div ibmRow >
        <div ibmCol [columnNumbers]="{'lg': 16}" class="hr_width">
            <hr>
            <p><span style="font-weight:bold;font-size: larger;color: #4178BE;">Employee Information</span></p>
            <hr>
        </div>
    </div>
    <div ibmRow >
        <div ibmCol [columnNumbers]="{'lg': 16}" class="hr_width">
            <hr>
            <p><span style="font-weight:bold;font-size: larger;color: #4178BE;">Band, Job Family, JRSS & PMR Details</span></p>
            <hr>
        </div>
    </div>
    <div ibmRow >
        <!-- <div ibmCol [columnNumbers]="{'lg': 16}" class="bx--no-gutter"> -->
          <div ibmCol [columnNumbers]="{'lg': 16}">
            <ibm-tabs type="container" ariaLabel="Tab navigation">
                <!-- START Employee Info TAB -->
                <ibm-tab heading="Employee Information">
                    <!-- <div ibmGrid class="bx--grid--no-gutter bx--grid--full-width"> -->
                      <div ibmGrid style="width: 100%">
                      <div ibmRow >
                        <div ibmCol [columnNumbers]="{'lg': 16}" class="hr_width">
                          <p><span style="font-weight:bold;font-size: medium;color: #4178BE;">Employee Information</span></p>
                          <hr>
                        </div>
                      </div>
                      <div ibmRow >
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label><br>
                            <label style="font-size:medium;font-weight: bold;">Employee Serial:</label>
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <input ibmText formControlName = "empSerial" style="width: auto;">
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label><br>
                            <label style="font-size:medium;font-weight: bold;">Employee Home Country:</label>
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <input ibmText formControlName = "empHomeCountry" style="width: auto;">
                        </ibm-label>
                        </div>
                      </div>
                      <div ibmRow style="padding-top: 15px;">
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <label style="font-size:medium;font-weight: bold;">Full Name(First/Middle/Last):</label>
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <label style="font-size:medium;font-weight: bold;">First Name</label>
                            <input ibmText formControlName = "firstName" style="width: auto;">
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <label style="font-size:medium;font-weight: bold;">Middle Name</label>
                            <input ibmText formControlName = "middleName" style="width: auto;">
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <label style="font-size:medium;font-weight: bold;">Last Name</label>
                            <input ibmText formControlName = "lastName" style="width: auto;">
                          </ibm-label>
                        </div>
                      </div>
                      <div ibmRow style="padding-top: 15px;">
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <label style="font-size:medium;font-weight: bold;">Name as on Passport:</label>
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <label style="font-size:medium;font-weight: bold;">First Name</label>
                            <input ibmText formControlName = "ppFirstName" style="width: auto;">
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <label style="font-size:medium;font-weight: bold;">Middle Name</label>
                            <input ibmText formControlName = "ppMiddleName" style="width: auto;">
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <label style="font-size:medium;font-weight: bold;">Last Name</label>
                            <input ibmText formControlName = "ppLastName" style="width: auto;">
                          </ibm-label>
                        </div>
                      </div>
                      <div ibmRow >
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label><br>
                            <label style="font-size:medium;font-weight: bold;">Employee Email Id:*</label>
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <input ibmText formControlName = "empEmailId" style="width: auto;">
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <br><br>
                          (e.g., joe@us.ibm.com)
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}"></div>
                      </div>
                      <div ibmRow >
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label><br>
                            <label style="font-size:medium;font-weight: bold;">Current Designation/Job Title:*</label>
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <input ibmText formControlName = "jobTitle" style="width: auto;">
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}"></div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}"></div>
                      </div>
                      <!-------------------------------  Education And Trainigs ---------------------------------->
                      <div ibmRow >
                        <div ibmCol [columnNumbers]="{'lg': 16}" class="hr_width">
                          <p><span style="font-weight:bold;font-size: medium;color: #4178BE;">Relevant IT Experience, Education, And Training</span></p>
                          <hr>
                        </div>
                      </div>
                      <div ibmRow >
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label><br>
                            <label style="font-size:medium;font-weight: bold;">Education & Training:*</label>
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <input ibmText formControlName = "eduTraining" style="width: auto;">
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}"></div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}"></div>
                      </div>
                      <div ibmRow >
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label><br>
                            <label style="font-size:medium;font-weight: bold;">IT Industry Field of Specialization:*</label>
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <textarea ibmTextArea formControlName = "itExeperience" cols="50" rows="2" ></textarea>
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}"></div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}"></div>
                      </div>
                      <div ibmRow >
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label><br>
                            <label style="font-size:medium;font-weight: bold;">Total number of years experience:*</label>
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <input ibmText formControlName = "yearsOfExp" size="5" maxlength="4" style="width: auto;">
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}"></div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}"></div>
                      </div>
                      <div ibmRow >
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label><br>
                            <label style="font-size:medium;font-weight: bold;">Total number of months experience:*</label>
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <input ibmText formControlName = "monthsOfExp" size="5" maxlength="4" style="width: auto;">
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}"></div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}"></div>
                      </div>
                      <div ibmRow >
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <label style="font-size:medium;font-weight: bold;">Top 5 Primary Skills in IT and/or Project Management with number of years experience for each skill:*</label>
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <input ibmText formControlName = "itprojSkill1" maxlength="200" style="width: auto;padding-top: 20px;" >
                          </ibm-label>
                          <ibm-label>
                            <input ibmText formControlName = "itprojSkill4" maxlength="200" style="width: auto;padding-top: 20px;">
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <input ibmText formControlName = "itprojSkill2" maxlength="200" style="width: auto;">
                          </ibm-label>
                          <ibm-label>
                            <input ibmText formControlName = "itprojSkill5" maxlength="200" style="width: auto;">
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <input ibmText formControlName = "itprojSkill3" maxlength="200" style="width: auto;">
                            <!-- <input ibmText formControlName = "itprojSkill1" maxlength="200" style="width: auto;"> -->
                          </ibm-label>
                        </div>
                      </div>
                    </div>
                  </ibm-tab>
                  <!-- END EMPLOYEE INFO TAB -->
                <!-- START Targeted US Project Details TAB -->
                <ibm-tab heading="Targeted US Project Details">
                    <div ibmGrid class="bx--grid--no-gutter bx--grid--full-width">
                      <div ibmRow >
                        <div ibmCol [columnNumbers]="{'lg': 16}" class="hr_width">
                          <p><span style="font-weight:bold;font-size: medium;color: #4178BE;">Targeted US Project Details</span></p>
                          <hr>
                        </div>
                      </div>
                      <div ibmRow >
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label><br>
                            <label style="font-size:medium;font-weight: bold;">Home Country People Manager Name:*</label>
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
                          <ibm-label>
                            <input ibmText formControlName = "mgrName" style="width: auto;">
                          </ibm-label>
                        </div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}"></div>
                        <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}"></div>
                      </div>
                    </div>
                  </ibm-tab>
                  <!-- END Targeted US Project Details TAB -->
                <!-- START Location Details TAB -->
                  <ibm-tab heading="Location Details">
                    <div ibmGrid class="bx--grid--no-gutter bx--grid--full-width">
                      <div ibmRow >
                        <div ibmCol [columnNumbers]="{'lg': 16}">
                            Location Details ...
                        </div>
                      </div>
                    </div>
                  </ibm-tab>
                  <!-- END Location Details TAB -->
            </ibm-tabs>
        </div>
    </div>
    <div ibmRow >
      <div ibmCol [columnNumbers]="{'lg': 16}" class="hr_width">
        <hr>
      </div>
    </div>
    <div ibmRow >
      <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
        <ibm-label><br>
          <label style="font-size:medium;font-weight: bold;">Comments:</label>
        </ibm-label>
      </div>
      <div ibmCol [columnNumbers]="{'md': 4, 'lg': 8}">
        <ibm-label>
          <textarea ibmTextArea formControlName = "comment" cols="60" rows="5" ></textarea>
        </ibm-label>
      </div>
      <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}"></div>
    </div>
    <div ibmRow style="padding-top: 20px;">
      <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}"></div>
      <div ibmCol [columnNumbers]="{'md': 4, 'lg': 8}">
        <ibm-label>
          <button ibmButton="secondary">Save</button>&nbsp;
          <button ibmButton>Submit</button>&nbsp;
          <button ibmButton="secondary">Close</button>
        </ibm-label>
      </div>
      <div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}"></div>
    </div>
  </form>
</div>
