#heading{
    padding: 2%;
    color: darkblue;
    font-size: x-large; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.no-data {
    width: 100%;
    padding: 0.25%;
    text-align: center;
    // background-color: rgba(224,224,224,0.75)
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
    color: black;
    font-weight: 480;
}

.status{
    color: darkblue;
    font-weight: 600;
    font-size: 0.9rem;
}

