<div class="page-header">
    <h1 ibmRow style="font-size: x-large; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">My comp requests</h1>
    <br ibmRow />
    <br ibmRow />
    <div style="margin-left: 82%;">
    <button   ibmButton="tertiary" class="customButton" size="normal" type="submit" style="padding-left: 8%; padding-right: 8%; font-weight: bold; border-width: 2px;" (click)="createCompReq()" >
        Create Compensation Request
    </button>
    </div>
    <br />
    <br/>
    <ibm-accordion style="color: darkcyan;">
        <ibm-accordion-item  title="Compensation Requests - In Progress" expanded="true" >
            <ibm-table-container >
            <div *ngIf="modelDraft.totalDataLength===0 && modelInit.totalDataLength===0 && modelInitAddnInfoAdded.totalDataLength===0 && modelDiscuss.totalDataLength===0 && modelDiscussReqInfoAdded.totalDataLength===0 && modelMgrAccepted.totalDataLength===0 && modelMgrAcceptanceOverriden.totalDataLength===0">  
                <ibm-table 
	                [skeleton]="skeleton"
	                [model]="skeleton ? skeletonModel : model"
	                [showSelectionColumn]="false"
                    [striped]="false">
                </ibm-table>
            </div>  
                <br/>
                <p class="status">Status : Draft</p>
                <div *ngIf="modelDraft.totalDataLength>0; else display">
	            <ibm-table 
	                [skeleton]="skeleton"
	                [model]="skeleton ? skeletonModel : modelDraft"
	                [showSelectionColumn]="false"
                    [striped]="false">
                    <tbody>
                </ibm-table>
                </div>
                <br ibmRow/>
                <p class="status">Status : Initiated</p>
                <div *ngIf="modelInit.totalDataLength>0; else display">
                <ibm-table *ngIf="modelInit!=null"
                [skeleton]="skeleton"
                [model]="skeleton ? skeletonModel : modelInit"
                [showSelectionColumn]="false"
                [striped]="false">
                </ibm-table>
                </div>
                <ng-template #display ><p class="no-data">No records.</p></ng-template>
                <br ibmRow/>
                <p class="status">Status:Initiated-Required Information Added</p>
                <div *ngIf="modelInitAddnInfoAdded.totalDataLength>0; else display">
                <ibm-table
                [skeleton]="skeleton"
                [model]="skeleton ? skeletonModel : modelInitAddnInfoAdded"
                [showSelectionColumn]="false"
                [striped]="false">
                </ibm-table>
                </div>
                <br ibmRow/>
                <p class="status">Status : Discuss</p>
                <div *ngIf="modelDiscuss.totalDataLength>0; else display">
                <ibm-table
                [skeleton]="skeleton"
                [model]="skeleton ? skeletonModel : modelDiscuss"
                [showSelectionColumn]="false"
                [striped]="false">
                </ibm-table>
                </div>
                <br ibmRow/>
                <p class="status">Status : Discuss - Required Info added</p>
                <div *ngIf="modelDiscussReqInfoAdded.totalDataLength>0; else display">
                <ibm-table
                [skeleton]="skeleton"
                [model]="skeleton ? skeletonModel : modelDiscussReqInfoAdded"
                [showSelectionColumn]="false"
                [striped]="false">
                </ibm-table>
                </div>
                <br ibmRow/>
                <p class="status">Status:Manager Accepted</p>
                <div *ngIf="modelMgrAccepted.totalDataLength>0; else display">
                <ibm-table
                [skeleton]="skeleton"
                [model]="skeleton ? skeletonModel : modelMgrAccepted"
                [showSelectionColumn]="false"
                [striped]="false">
                </ibm-table>
                </div>
                <br ibmRow/>
                <p class="status">Status:Override Manager Acceptance</p>
                <div *ngIf="modelMgrAcceptanceOverriden.totalDataLength>0; else display">
                <ibm-table
                [skeleton]="skeleton"
                [model]="skeleton ? skeletonModel : modelMgrAcceptanceOverriden"
                [showSelectionColumn]="false"
                [striped]="false">
                </ibm-table>
                </div>
            </ibm-table-container>
            <ng-template #customTableItemTemplate let-data="data">
                <a ibmLink routerLink="editCompRequest" routerLinkActive="active"  >{{data.empSerial}}</a>   
             </ng-template>
        </ibm-accordion-item>
        <ibm-accordion-item title="Compensation Requests - Active" >
            <ibm-table-container>
                <div *ngIf="modelAddnInfoReq.totalDataLength===0 && modelForReview.totalDataLength===0 && modelDiscussAddnInfoReq.totalDataLength===0">
                <ibm-table 
                [skeleton]="skeleton"
                [model]="skeleton ? skeletonModel : model"
                [showSelectionColumn]="false"
                [striped]="false">
                </ibm-table>
                </div>
                <br/>
                <p class="status">Status:Initiated-Required Information Added</p>
                <div *ngIf="modelAddnInfoReq.totalDataLength>0; else display">
	            <ibm-table
	                [skeleton]="skeleton"
	                [model]="skeleton ? skeletonModel : modelAddnInfoReq"
	                [showSelectionColumn]="false"
                    [striped]="false">
                </ibm-table>
                </div>
                <br ibmRow/>
                <p class="status">Status:Compensation For Review</p>
                <div *ngIf="modelForReview.totalDataLength>0; else display">
                <ibm-table
                [skeleton]="skeleton"
                [model]="skeleton ? skeletonModel : modelForReview"
                [showSelectionColumn]="false"
                [striped]="false">
                </ibm-table>
                </div>
                <br ibmRow/>
                <p class="status">Status : Discuss - Additional Info required</p>
                <div *ngIf="modelDiscussAddnInfoReq.totalDataLength>0; else display">
                <ibm-table
                [skeleton]="skeleton"
                [model]="skeleton ? skeletonModel : modelDiscussAddnInfoReq"
                [showSelectionColumn]="false"
                [striped]="false">
                </ibm-table>
                </div>
            </ibm-table-container>
        </ibm-accordion-item>
        <ibm-accordion-item title="Compensation Requests - Completed" >
            <ibm-table-container>
                <div *ngIf="modelReqProcessed.totalDataLength===0">
                <ibm-table 
                [skeleton]="skeleton"
                [model]="skeleton ? skeletonModel : model"
                [showSelectionColumn]="false"
                [striped]="false">
                </ibm-table>
                </div>
                <br/>
                <p class="status">Status : Request Processed</p>
                <div *ngIf="modelReqProcessed.totalDataLength>0; else display">
	            <ibm-table
	                [skeleton]="skeleton"
	                [model]="skeleton ? skeletonModel : modelReqProcessed"
	                [showSelectionColumn]="false"
                    [striped]="false">
                </ibm-table>
                </div>
            </ibm-table-container>
        </ibm-accordion-item>
        <ibm-accordion-item title="Compensation Requests - In-Active" >
            <ibm-table-container>
                <div *ngIf="modelRejected.totalDataLength===0 && modelArchived.totalDataLength===0 ">  
                <ibm-table 
                [skeleton]="skeleton"
                [model]="skeleton ? skeletonModel : model"
                [showSelectionColumn]="false"
                [striped]="false">
                </ibm-table>
                </div>
                <br/>
                <p class="status">Status : Rejected</p>
                <div *ngIf="modelRejected.totalDataLength>0; else display">
	            <ibm-table
	                [skeleton]="skeleton"
	                [model]="skeleton ? skeletonModel : modelRejected"
	                [showSelectionColumn]="false"
                    [striped]="false">
                </ibm-table>
                </div>
                <br ibmRow/>
                <p class="status">Status : Archived</p>
                <div *ngIf="modelArchived.totalDataLength>0; else display">
                <ibm-table
                [skeleton]="skeleton"
                [model]="skeleton ? skeletonModel : modelArchived"
                [showSelectionColumn]="false"
                [striped]="false">
                </ibm-table>
                </div>
            </ibm-table-container>
        </ibm-accordion-item>
        <ibm-accordion-item title="Other Compensation Requests" >
            <ibm-table-container>
                <div *ngIf="modelOtherRecords.totalDataLength===0">
                <ibm-table 
                [skeleton]="skeleton"
                [model]="skeleton ? skeletonModel : model"
                [showSelectionColumn]="false"
                [striped]="false">
                </ibm-table>
                </div>
                <br/>
                <div *ngIf="modelOtherRecords.totalDataLength>0; else display">
	            <ibm-table
	                [skeleton]="skeleton"
	                [model]="skeleton ? skeletonModel : modelOtherRecords"
	                [showSelectionColumn]="false"
                    [striped]="false">
                </ibm-table>
                </div>
            </ibm-table-container>
            </ibm-accordion-item>
    </ibm-accordion>
</div>
