    <ibm-sidenav >
        <ibm-sidenav-item >Home</ibm-sidenav-item>
            <ibm-sidenav-item [route] = "['/compHome']">Compensation</ibm-sidenav-item>
            <ibm-sidenav-menu title="HqOps">
        
                
                <ibm-sidenav-menu title="All Comp Request">
                    <ibm-sidenav-item >Pending Action</ibm-sidenav-item>
                        <ibm-sidenav-item>Approve Comp</ibm-sidenav-item>
                        </ibm-sidenav-menu>
                <ibm-sidenav-item>Onboarding</ibm-sidenav-item>
            </ibm-sidenav-menu>
           
              <!-- <ibm-sidenav-menu title="Posts">
                <ibm-sidenav-item id="nav-posts-art" [active]="currentNavId === 'nav-posts-art'">Art</ibm-sidenav-item>
                <ibm-sidenav-item id="nav-posts-life" [active]="currentNavId === 'nav-posts-life'">Life</ibm-sidenav-item>
                <ibm-sidenav-menu title="Tech">
                  <ibm-sidenav-item id="nav-posts-tech-angular" [active]="currentNavId === 'nav-posts-tech-angular'">Angular</ibm-sidenav-item>
                  <ibm-sidenav-item id="nav-posts-tech-react" [active]="currentNavId === 'nav-posts-tech-react'">React</ibm-sidenav-item>
                  <ibm-sidenav-item id="nav-posts-tech-vuejs" [active]="currentNavId === 'nav-posts-tech-vuejs'">Vue.js</ibm-sidenav-item>
                </ibm-sidenav-menu>
              </ibm-sidenav-menu> -->
              <ibm-sidenav-item  >Help</ibm-sidenav-item>
        </ibm-sidenav>
    
