.hr_width{
    width: 100%;
}
.bx--grid {
    padding-left: 0rem;
    padding-right: 0rem;
}
// .bx--date-picker.bx--date-picker--single .bx--date-picker__input {
//     width: 13.5rem !important;
// }
// .bx--tabs__nav-item a.bx--tabs__nav-link{
//     width:auto;
// }
// .bx--tabs__nav-item .bx--tabs__nav-link {
//     width:auto;
// }

// .a.bx--tabs__nav-link{
// width:auto;
// }
// .bx--tabs__nav-item .bx--tabs__nav-link {
//     width:auto;
// }

