/* You can add global styles to this file, and also import other style files */

// @import "~carbon-components/scss/globals/scss/styles";
@import "./assets/carbon-components/scss/globals/scss/styles.scss";

// html, body { height: 100%; width: 100%; background-color: white;}
// body { margin: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}


.page-header{
   margin-left: 250px;
}