/* You can add global styles to this file, and also import other style files */
$feature-flags: (
  grid-columns-16: true
);
@import '@carbon/themes/scss/themes';
$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

// @import "~carbon-components/scss/globals/scss/styles";
@import "./assets/carbon-components/scss/globals/scss/styles.scss";


.page-header{
   margin-left: 250px;
}

.bx--accordion__content { //changed from 25% to 0% by Jayashree for full width display
   padding-right: 0% ;
}

.bx--accordion__title{
  font-size: 0.9rem;
  font-weight: 550;
  line-height: 3rem;
}

.bx--accordion__heading{
  color: #0f62fe;
}
.bx--content{
  // padding:1rem
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
 }
